.tariffs-edit-sidebar-content-wrapper-header {
	height: 60px;
	background-color: #959FAD;
}

.transfers {
	display: flex;
	align-items: center;
	padding: 19px;
	box-sizing: border-box;
	color: #fff;
}