.reset-password-input-wrap {
	margin-top: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	
	div {
		background-color: #8DC73F;
		height: 50px;
		display: flex;
		align-items: center;
		width: 50px;
		justify-content: center;
		margin-left: 15px;
		border-radius: 3px;
	}
}

.spinner {
	animation: rotate 2s linear infinite;
	z-index: 2;
	width: 30px;
	height: 30px;
	
	& .path {
		//		stroke: hsl(220, 70, 75);
		stroke: #FFFFFF;
		stroke-linecap: round;
		animation: dash 1.5s ease-in-out infinite;
	}
	
}

.reset-error {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	border: 2px solid red;
	margin-top: 10px;
	padding: 10px;
	font-weight: 400;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}