.tabs-wrapper {
	display: flex;
	background-color: #EEF1F5;
	
	.tab-item {
		padding: 10px 20px !important;
		border-radius: 3px 3px 0 0 !important;
//		border: 2px solid #EEF1F5 !important;
		cursor: pointer !important;
		position: relative !important;
		font-weight: 400 !important;
		margin: 0 !important;
	}
	
	.active-tab {
		background-color: #ffffff;
//		border: 1px solid rgba(216, 216, 216, 0.8);
		box-sizing: border-box;
	}
	
	.tab-indicator {
		position: absolute;
		height: 0;
		width: 100%;
		background-color: #000;
		bottom: -3px;
		left: -1px;
		z-index: 1;
		border: 1px solid #364150;
	}
	
	.tab-active-indicator {
		border: 1px solid #8DC73F;
	}
	
}