.car-and-driver-wrap {
	padding: 12px 9px 10px 18px;
	overflow-y: auto;
	height: calc(100vh - 160px);
}

.add-car {
	background: #fff;
	height: 564px;
	padding: 12px 9px 12px 16px;
}

.add-driver {
	background: #fff;
	height: 564px;
	padding: 12px 9px 12px 16px;
	margin-top: 20px;
}

.upload-car-documents-wrap-1 {
	height: 150px !important;
	margin: 0;
	padding: 0;
}

.upload-car-documents-1 {
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #E8E8E8;
	color: #737373;
	margin-top: 16px;
	cursor: pointer;
	font-size: 14px;
}

.edit-driver-and-car {
	margin-left: 18px;
	text-decoration: underline;
	cursor: pointer;
}