.errorComponent {
	width: 100%;
	line-height: 20px;
	box-sizing: border-box;
	padding: 15px;
	border: 1px solid #DB5454;
	margin-top: 20px;
	height: 50px;
	display: flex;
	align-items: center;
	font-weight: 400;
	color: #DB5454;
}