.citySelect {
	position: absolute;
	top: calc(100% + 15px);
	left: 0;
	max-height: 200px;
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	z-index: 100000000;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
	overflow-y: auto;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding: 13px;
			box-sizing: border-box;
			cursor: pointer;
			transition: background-color 0.2s ease-in;
			color: #000000 !important;
		}
		li:hover {
			background-color: #d7d7d7;
		}
	}
}

.tariffDataInput {
	display: block;
	height: 40px;
	font-weight: 300 !important;
	padding: 0 14px;
	box-sizing: border-box;
	border: none;
	outline: none;
	background: #E8E8E8;
	border-radius: 3px;
	margin-top: 10px;
	width: 300px;

	&.tariff-data-input-correct {
		width: 220px;
	}
}

.smartFilterSelectCurrency {
	width: 300px;
	
	div {
		div {
			color: #000;
		}
	}
}

.tariffTypeSelect {

}