.clients-wrap {
	padding: 15px;
	background-color: #FFFFFF;
	box-sizing: border-box;
	height: calc(100% - 90px);
	position: relative;
	border-left: 1px solid rgba(216, 216, 216, 0.8);
	border-top: 1px solid rgba(216, 216, 216, 0.8);
	border-right: 1px solid rgba(216, 216, 216, 0.8);
	border-radius: 3px;
}