.table-custom-header {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 18px;
	box-sizing: border-box;
	background-color: #959FAD;
	color: #fff;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin-top: 30px;

	.transferLink-item {
		padding-right: 40px;
	}
}