.scrollTable {
  height: calc(100% - 50px);
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.scrollTableHead {
  table-layout: fixed;
  
  thead {
    width: 100%;
    th {
      height: 60px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      background: #E8E8E8;
  
      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
  
      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}


.scrollTableBody {
  overflow-y: auto;
  height: calc(100vh - 330px);

  tbody {
    .trBodyTable {
      height: 67px;

      td {
        border-bottom: 1px solid #E8E8E8;
      }
    }
  }
}

.checkbox {
  width: 40px !important;
  box-sizing: border-box;
  input {
    margin: 0;
    padding: 0;
  }
}


.firstItem {
  color: #337AB7;
  cursor: pointer;
}