.news-wrapper {
	background-color: #ffffff;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin-right: 20px;
	border-radius: 3px;
	overflow-x: hidden;
	border: 1px solid rgba(216, 216, 216, 0.8);
}