.zoneWrap {
	height: 40px;
	background: #E8E8E8;
	border-radius: 3px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	margin-top: 15px;
	font-weight: 400 !important;
}

.editZoneBtn {
	background-color: #8DC73F;
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 30px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	flex: 0 0;
	font-weight: 400;
}

.deleteZoneBtn {
	background-color: #DB5454;
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 30px;
	box-sizing: border-box;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #fff;
	font-weight: 400;
	cursor: pointer;
		flex: 0 0;
}

.zoneNumber {
	flex: 1 1;
	margin: 0 20px 0 0;
	height: 40px;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	box-sizing: border-box;
}

.zoneColor {
	display: flex;
	align-items: center;
	height: 50px;
	justify-content: center;
	width: 20px;
	margin: 0 10px 0 15px;
	div {
		height: 15px;
		width: 15px;
		border-radius: 100%;
		background-color: #8DC73F;
	}
}

.colorItem {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	div {
		height: 15px;
		width: 15px;
		border-radius: 100%;
	}
	
	
	&:hover {
		background-color: #ccc;
	}
}

.green {
	background-color: #8DC73F !important;
}

.blue {
		background-color: #337AB7 !important;

}
.red {
	background-color: #DB5454 !important;
}
.yellow {
		background-color: yellow !important;
}

.selectZoneIndicator {
			height: 15px;
		width: 15px;
		border-radius: 100%;
	margin: 0 10px;
}

.selectColorWrap {
	display: flex;
}
.zoneIndicator {
		height: 15px;
		width: 15px;
		border-radius: 100%;
}

.selectZoneItem {
		position: absolute;
		top: 65px;
		left: 0;
		width: 100%;
		height: 120px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.selectZone {
	font-weight: 400;
	box-sizing: border-box;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin: 0 20px;
	flex-grow: 0;
	cursor: pointer;
}

.coordsInputWrap {
	flex: 1 1;
	padding-right: 20px;
	input {
		font-weight: 400 !important;
		width: calc(100% - 20px);
		margin-left: 10px;
		box-sizing: border-box;
		border-radius: 3px;
		border: none;
		outline: none;
		height: 30px;
	}
}

.selectZoneColorMenu {
	position: absolute;
	z-index: 99999999999;
	top: 50px;
	left: 20px;
	width: calc(100% - 40px);
	box-sizing: border-box;
	background: #E8E8E8;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	padding: 5px 13px;
}

.selectZoneColorMenuItem {
	display: flex;
	cursor: pointer;
	height: 30px;
	align-items: center;
}

.selectColorWrap {
	position: relative;
}
